@import url("index.css");

.course-summary {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.course-summary ul {
    list-style: none;
    padding: 0;
}

.course-summary ul li {
    font-size: 16px;
    margin: 10px 0;
}

.assignments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    opacity: 0; 
    animation: fadeIn 0.8s ease-in-out forwards;
}

.assignment-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 80%;
    max-width: 900px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.assignment-header {
    font-weight: bold;
    background-color: #003366;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.assignment-item {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.assignment-item a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

.assignment-item a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media (max-width: 600px) {
    .assignment-grid {
      grid-template-columns: 1fr;
    }

    .assignment-name {
        background-color: #003366;
        color: white;
        border-radius: 5px;
        padding: 1em;
    }
  
    .assignment-item {
      padding: 15px;
      margin-bottom: 10px;
    }

    .assignment-header{
        display: none;
    }
  }