@import url(index.css);

.labs-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr; 
    gap: 10px;
    width: 90%;
    max-width: 900px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.labs-header {
    font-weight: bold;
    background-color: #003366;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word; 
}

.labs-item {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 800px) {
    .labs-grid {
        grid-template-columns: 1fr 2fr 2fr; 
        font-size: 14px; 
    }

    .labs-header, .labs-item {
        padding: 8px; 
    }

    .labs-item a {
        display: block; 
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.labs-overview {
    border-radius: 10px;
    margin: 40px auto; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.labs-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 40px 0;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.labs-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    gap: 15px;
    width: 80%;
    max-width: 900px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.labs-header {
    font-weight: bold;
    background-color: #003366;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.labs-item {
    padding: 10px;
    background-color: #f4f4f4;
    margin: 10px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 