{% extends "template.html" %}

{% block s_or_i_homepage %}
  <li><a href="{{ url_for('i_homeafterlogin') }}">Home</a></li>
{% endblock%}

{% block s_or_i_feedback %}
  <li><a href="{{ url_for('i_anonfeedback') }}">Anon Feedback</a></li>
{% endblock%}

{% block s_or_i_marks %}
  <li><a href="{{ url_for('i_marks') }}">Marks</a></li>
{% endblock%}
{% block i_updatemarks %}
  <li><a href="{{ url_for('i_updatemarks') }}">Update Marks</a></li>
{% endblock %}

{% block s_or_i_notes %}
<li class="dropdown-menu">
  <a href="#">Lecture Notes</a>
  <ul>
    <li><a href="{{ url_for('i_lectures') }}">Lecture Notes</a></li>
    <li><a href="{{ url_for('i_updatelectures') }}">Update Lecture Notes</a></li> 
  </ul>
</li>
{% endblock%}

{% block pageheader %}
  <h1>Marks</h1> 
{% endblock %}

{% block content %}
    <br>
    <table class="table">
        <tr>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Assessment</th>
            <th>Grade</th>
        </tr>
        {% for mark in marks %}
        <tr>
               <td>{{ student_names.get(mark.ID, 'Unknown') }}</td>
               <td>{{ mark.ID }}</td>
               <td>{{ mark.assessment_type }}</td>
               <td>{{ mark.grade }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
    
