<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% if pagename %}
    <title>{{ pagename }}</title>
  {% else %}
    <title>Home Page</title>
  {% endif %}
</head>

<body>
  <nav>
    <div class="nav-container">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/UTSClogo.png') }}" alt="UTSCLogo">
      </div>
  
      <!-- mobile hamburger menu button -->
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
  
      <!-- navigation bar links -->
      {% if session.name %}
      <ul class="nav-links">
        {% block s_or_i_homepage %}
        {% endblock%}
  
        <li><a href="{{ url_for('static', filename='pdf/Syllabus.pdf') }}">Syllabus</a></li>
  
        <li class="dropdown-menu">
          <a href="#">Course Communications</a>
          <ul>
            <li><a href="https://piazza.com/class/m5fmz9kzjo83yk" target="_blank">Piazza</a></li>
            {% block s_or_i_feedback %}
            {% endblock%}
          </ul>
        </li>
  
        <li class="dropdown-menu">
          <a href="#">Assessments</a>
          <ul>
            {% block s_or_i_marks %}
            {% endblock%}

            <!--hilary needs to add the update mark tab-->
            {% block i_updatemarks %}
            {% endblock%}

            <li><a href="https://markus2.utsc.utoronto.ca" target="_blank">Markus</a></li>
          </ul>
        </li>
  
        <li class="dropdown-menu">
            {% block s_or_i_notes %}
            {% endblock%}
        </li>

        <li class="dropdown-menu">
          {% block i_updatenotes %}
          {% endblock%}
        </li>

        {% else %}
          <!-- mo needs to rewrite it as  <li><a href="{{ url_for('index') }}">Home</a></li>  -->
          {% block homebeforelogin %}
          {% endblock%}
        {% endif %}

        <!-- night mode toggle switch -->
        <li class="nightmode-toggle">&#9790;
          <label class="switch">
            <input type="checkbox" id="nightmode-toggle">
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
  </nav>
  
  <!--header needs to be changed on every signle child html-->
  <header>
    {% block pageheader %}
    {% endblock %}
  </header>

  <!--main body part needs to be changed on every signle child html-->
  <main class="home">
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p class="linktoschool"><a href="https://web.cs.toronto.edu/">   Department of Computer Science, University of Toronto</a><br>Designed and built with care by Judy Ding, Hillary Tse, and Monica Vergara for CSCB20 &copy; 2025</p>
    <p><img src="{{ url_for('static', filename='images/UTSClogo.png') }}" alt="UTSCLogo"></p>
  </footer>
</body>
</html>